src/wsdl/localhost_8080/ws-tienda/TiendaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.tienda.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.tienda.com/" name="TiendaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.tienda.com/" schemaLocation="http://localhost:8080/ws-tienda/TiendaWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://localhost:8080/ws-tienda/TiendaWS" schemaLocation="http://localhost:8080/ws-tienda/TiendaWS?xsd=2"/>
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<message name="listaProductos">
<part name="parameters" element="tns:listaProductos"/>
</message>
<message name="listaProductosResponse">
<part name="parameters" element="tns:listaProductosResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="crearProducto">
<part name="parameters" element="tns:crearProducto"/>
</message>
<message name="crearProductoResponse">
<part name="parameters" element="tns:crearProductoResponse"/>
</message>
<message name="listaCategorias">
<part name="parameters" element="tns:listaCategorias"/>
</message>
<message name="listaCategoriasResponse">
<part name="parameters" element="tns:listaCategoriasResponse"/>
</message>
<message name="nuevaOrden">
<part name="parameters" element="tns:nuevaOrden"/>
</message>
<message name="nuevaOrdenResponse">
<part name="parameters" element="tns:nuevaOrdenResponse"/>
</message>
<message name="CheckVerifyFault">
<part xmlns:ns1="http://localhost:8080/ws-tienda/TiendaWS" name="fault" element="ns1:CheckVerifyFault"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse"/>
</message>
<message name="getOrdenPorId">
<part name="parameters" element="tns:getOrdenPorId"/>
</message>
<message name="getOrdenPorIdResponse">
<part name="parameters" element="tns:getOrdenPorIdResponse"/>
</message>
<message name="editarCliente">
<part name="parameters" element="tns:editarCliente"/>
</message>
<message name="editarClienteResponse">
<part name="parameters" element="tns:editarClienteResponse"/>
</message>
<message name="listaOrdenes">
<part name="parameters" element="tns:listaOrdenes"/>
</message>
<message name="listaOrdenesResponse">
<part name="parameters" element="tns:listaOrdenesResponse"/>
</message>
<message name="nuevoCliente">
<part name="parameters" element="tns:nuevoCliente"/>
</message>
<message name="nuevoClienteResponse">
<part name="parameters" element="tns:nuevoClienteResponse"/>
</message>
<message name="getClientePorId">
<part name="parameters" element="tns:getClientePorId"/>
</message>
<message name="getClientePorIdResponse">
<part name="parameters" element="tns:getClientePorIdResponse"/>
</message>
<message name="listaClientes">
<part name="parameters" element="tns:listaClientes"/>
</message>
<message name="listaClientesResponse">
<part name="parameters" element="tns:listaClientesResponse"/>
</message>
<message name="getProductoPorId">
<part name="parameters" element="tns:getProductoPorId"/>
</message>
<message name="getProductoPorIdResponse">
<part name="parameters" element="tns:getProductoPorIdResponse"/>
</message>
<message name="eliminarProducto">
<part name="parameters" element="tns:eliminarProducto"/>
</message>
<message name="eliminarProductoResponse">
<part name="parameters" element="tns:eliminarProductoResponse"/>
</message>
<message name="editarProducto">
<part name="parameters" element="tns:editarProducto"/>
</message>
<message name="editarProductoResponse">
<part name="parameters" element="tns:editarProductoResponse"/>
</message>
<portType name="ClienteWS">
<operation name="init">
<input wsam:Action="http://soap.tienda.com/ClienteWS/initRequest" message="tns:init"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/initResponse" message="tns:initResponse"/>
</operation>
<operation name="listaProductos">
<input wsam:Action="http://soap.tienda.com/ClienteWS/listaProductosRequest" message="tns:listaProductos"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/listaProductosResponse" message="tns:listaProductosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/listaProductos/Fault/Exception"/>
</operation>
<operation name="crearProducto">
<input wsam:Action="http://soap.tienda.com/ClienteWS/crearProductoRequest" message="tns:crearProducto"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/crearProductoResponse" message="tns:crearProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/crearProducto/Fault/Exception"/>
</operation>
<operation name="listaCategorias">
<input wsam:Action="http://soap.tienda.com/ClienteWS/listaCategoriasRequest" message="tns:listaCategorias"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/listaCategoriasResponse" message="tns:listaCategoriasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/listaCategorias/Fault/Exception"/>
</operation>
<operation name="nuevaOrden">
<input wsam:Action="http://soap.tienda.com/ClienteWS/nuevaOrdenRequest" message="tns:nuevaOrden"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/nuevaOrdenResponse" message="tns:nuevaOrdenResponse"/>
<fault message="tns:CheckVerifyFault" name="CheckVerifyFault" wsam:Action="http://soap.tienda.com/ClienteWS/nuevaOrden/Fault/CheckVerifyFault"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/nuevaOrden/Fault/Exception"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://soap.tienda.com/ClienteWS/eliminarClienteRequest" message="tns:eliminarCliente"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/eliminarCliente/Fault/Exception"/>
</operation>
<operation name="getOrdenPorId">
<input wsam:Action="http://soap.tienda.com/ClienteWS/getOrdenPorIdRequest" message="tns:getOrdenPorId"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/getOrdenPorIdResponse" message="tns:getOrdenPorIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/getOrdenPorId/Fault/Exception"/>
</operation>
<operation name="editarCliente">
<input wsam:Action="http://soap.tienda.com/ClienteWS/editarClienteRequest" message="tns:editarCliente"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/editarClienteResponse" message="tns:editarClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/editarCliente/Fault/Exception"/>
</operation>
<operation name="listaOrdenes">
<input wsam:Action="http://soap.tienda.com/ClienteWS/listaOrdenesRequest" message="tns:listaOrdenes"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/listaOrdenesResponse" message="tns:listaOrdenesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/listaOrdenes/Fault/Exception"/>
</operation>
<operation name="nuevoCliente">
<input wsam:Action="http://soap.tienda.com/ClienteWS/nuevoClienteRequest" message="tns:nuevoCliente"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/nuevoClienteResponse" message="tns:nuevoClienteResponse"/>
<fault message="tns:CheckVerifyFault" name="CheckVerifyFault" wsam:Action="http://soap.tienda.com/ClienteWS/nuevoCliente/Fault/CheckVerifyFault"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/nuevoCliente/Fault/Exception"/>
</operation>
<operation name="getClientePorId">
<input wsam:Action="http://soap.tienda.com/ClienteWS/getClientePorIdRequest" message="tns:getClientePorId"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/getClientePorIdResponse" message="tns:getClientePorIdResponse"/>
<fault message="tns:CheckVerifyFault" name="CheckVerifyFault" wsam:Action="http://soap.tienda.com/ClienteWS/getClientePorId/Fault/CheckVerifyFault"/>
</operation>
<operation name="listaClientes">
<input wsam:Action="http://soap.tienda.com/ClienteWS/listaClientesRequest" message="tns:listaClientes"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/listaClientesResponse" message="tns:listaClientesResponse"/>
<fault message="tns:CheckVerifyFault" name="CheckVerifyFault" wsam:Action="http://soap.tienda.com/ClienteWS/listaClientes/Fault/CheckVerifyFault"/>
</operation>
<operation name="getProductoPorId">
<input wsam:Action="http://soap.tienda.com/ClienteWS/getProductoPorIdRequest" message="tns:getProductoPorId"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/getProductoPorIdResponse" message="tns:getProductoPorIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/getProductoPorId/Fault/Exception"/>
</operation>
<operation name="eliminarProducto">
<input wsam:Action="http://soap.tienda.com/ClienteWS/eliminarProductoRequest" message="tns:eliminarProducto"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/eliminarProductoResponse" message="tns:eliminarProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/eliminarProducto/Fault/Exception"/>
</operation>
<operation name="editarProducto">
<input wsam:Action="http://soap.tienda.com/ClienteWS/editarProductoRequest" message="tns:editarProducto"/>
<output wsam:Action="http://soap.tienda.com/ClienteWS/editarProductoResponse" message="tns:editarProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.tienda.com/ClienteWS/editarProducto/Fault/Exception"/>
</operation>
</portType>
<binding name="ClienteWSPortBinding" type="tns:ClienteWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="crearProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listaCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="nuevaOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CheckVerifyFault">
<soap:fault name="CheckVerifyFault" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getOrdenPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listaOrdenes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="nuevoCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CheckVerifyFault">
<soap:fault name="CheckVerifyFault" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getClientePorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CheckVerifyFault">
<soap:fault name="CheckVerifyFault" use="literal"/>
</fault>
</operation>
<operation name="listaClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CheckVerifyFault">
<soap:fault name="CheckVerifyFault" use="literal"/>
</fault>
</operation>
<operation name="getProductoPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TiendaWS">
<port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
<soap:address location="http://localhost:8080/ws-tienda/TiendaWS"/>
</port>
</service>
</definitions>